@import url("../css/normalize.css");
@import url("../css/fonts.css");

@mixin reason_default($url) {
	background: url($url) bottom 0 right 0 no-repeat,
		linear-gradient(140deg, #303134 10.06%, #282828 53.72%, #282828 88%);
	box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
}

// * {
// 	outline: 1px solid green;
// }

.page {
	background: #161617;
	font-family: "Ruberoid", sans-serif;
	color: #fff;
}
.start {
	position: relative;
	min-height: 1060px;
	&__bg {
		width: 100%;
		min-height: 1060px;
		position: absolute;
		background: url("../img/bg/start_bg.png") no-repeat;
		background-position: center center;
		background-size: cover;
		mix-blend-mode: luminosity;
		z-index: -1;
	}
	&__promo {
		margin-top: 175px;
	}
	&__divider {
		height: 5px;
		background: linear-gradient(
			90deg,
			rgba(42, 188, 158, 0) 0%,
			#2abc9e 48.65%,
			rgba(42, 188, 158, 0) 100%
		);
		margin-top: -10px;
	}
}
.container {
	max-width: 1320px;
	padding: 0 25px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}
.nav-menu {
	height: 100%;
	display: flex;
	justify-content: space-between;
	gap: 88px;
	font-weight: 600;
	font-size: 20px;

	&__items {
		display: flex;
		gap: 35px;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__item {
		display: flex;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			transition: 0.5s all;
		}
		&:hover {
			&::before {
				content: "";
				position: absolute;
				top: -8px;
				border-radius: 47px;
				width: 100%;
				height: 16px;
				background: rgba(46, 236, 197, 0.35);
				filter: drop-shadow(0px 0px 21px rgba(44, 232, 194, 0.35));
			}
		}
		&--active {
			&::before,
			&:hover::before {
				content: "";
				position: absolute;
				top: -8px;
				border-radius: 47px;
				width: 100%;
				height: 16px;
				background: #2ce8c2;
				filter: drop-shadow(0px 0px 21px rgba(44, 232, 194, 0.35));
			}
		}
	}
	&__link {
		height: 70px;
		display: flex;
		align-items: center;
	}
	&__btn {
		padding: 15px 41px;
		border-radius: 49px;
		align-self: center;
		font-weight: 600;
	}
}
.primary-btn {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: 1.5px solid #2eecc5;
	background: rgba(46, 236, 197, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(46, 236, 197, 0.2);
	transition: 0.4s box-shadow, 0.4s transform;
	&:hover {
		box-shadow: 0px 0px 34px 0px rgba(46, 236, 197, 0.3);
		& > .primary-btn__arrow {
			transform: rotate(0deg);
		}
	}
	&__arrow {
		width: 10px;
		height: 10px;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(-45deg);
		transition: 0.5s all;
	}
}
.secondary-btn {
	display: block;
	position: relative;
	background: #161617;
	padding: 15px 0;
	width: 200px;
	text-align: center;
	border-radius: 4px;
	border: 1.5px solid #2eecc5;
	background: #161617;
	box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.2);
	font-size: 19px;
	line-height: normal;
	transition: 0.4s all;
	&::after {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		left: 9px;
		top: 11px;
		width: 200px;
		height: 58px;
		border-radius: 4px;
		border: 2px solid rgba(46, 236, 197, 0.4);
		z-index: -1;
		transition: 0.4s all;
	}
	&:hover {
		box-shadow: 0px 0px 40px 0px rgba(46, 236, 197, 0.4);
		&::after {
			content: "";
			left: 15px;
			top: 14px;
		}
	}
}
.title {
	background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 100%);
	text-shadow: 0px 0px 24px rgba(46, 236, 197, 0.3);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}
.promo {
	display: flex;

	&__content {
		min-width: 810px;
	}
	&__img {
		min-width: 774px;
		margin-left: -20px;
		margin-top: -110px;
		background: url("../img/circles.png") no-repeat 70px 122px;
	}
	&__title {
		font-size: 65px;
		font-weight: 900;
		text-transform: uppercase;
		line-height: normal;
	}
	&__subtitle {
		font-weight: 900;
		font-size: 45px;
		text-transform: uppercase;
	}
	&__slogan {
		color: rgba(255, 255, 255, 0.65);
		font-size: 22px;
		font-weight: 400;
		line-height: normal;
		margin-top: 30px;
		max-width: 660px;
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 25px;
		margin-top: 40px;
	}

	&__btn {
		padding: 15px 32px;
		border-radius: 41px;
		font-size: 19px;
		font-weight: 600;
	}
	&__link {
		font-weight: 400;
		font-size: 19px;
		color: rgba(255, 255, 255, 0.4);
		transition: 0.35s all;
		&:hover {
			color: rgba(255, 255, 255, 0.8);
		}
	}
}
.subtitle {
	background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 100%);
	text-shadow: 0px 0px 24px rgba(46, 236, 197, 0.3);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.reason {
	border-radius: 6px;
	border: 1px solid #ffffff35;
	padding: 45px 37px;
	transition: 0.4s all;
	&:hover {
		transform: translateY(6px);
	}
	&__title {
		width: 258px;
		margin: 0;
		font-size: 26px;
		font-weight: 500;
		line-height: 123.1%;
	}
	&__descr {
		margin-top: 25px;
		color: rgba(255, 255, 255, 0.9);
		font-size: 17px;
		font-weight: 400;
		line-height: 123.1%;
	}
}

.reasons {
	min-height: 1060px;
	padding-top: 85px;
	padding-bottom: 147px;
	background: url("../img/bg/helix_bg.png") no-repeat;
	background-position: center -290px;
	background-size: auto;
	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 400px 400px;
		column-gap: 35px;
		row-gap: 32px;
	}
	&__info {
		grid-column: 1 / 3;
		max-width: 670px;
		padding-top: 20px;
	}
	&__title {
		font-weight: 700;
		font-size: 55px;
		text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
	}
	&__p {
		color: rgba(255, 255, 255, 0.65);
		font-weight: 400;
		font-size: 17px;
	}
	&__reason-price {
		background: url("../icons/money.svg") bottom 0 right 0 no-repeat,
			linear-gradient(140deg, #527791 10.06%, #325597 53.72%, #193895 88%);
		box-shadow: 0px 0px 150px 0px rgba(59, 95, 150, 0.35);
		&:hover {
			transform: translateY(-6px);
		}
	}
	&__reason-deadlines {
		@include reason_default("../icons/clock.svg");
	}
	&__reason-team {
		@include reason_default("../icons/person.svg");
	}
	&__reason-help {
		@include reason_default("../icons/headphones.svg");
	}
	&__btn {
		margin-top: 44px;
	}
}

.portfolio {
	padding-top: 144px;
	padding-bottom: 370px;
	background: url("../img/bg/helix2_bg.png") no-repeat;
	background-position: center -580px;
	background-size: auto;
	&__content {
		display: flex;
		gap: 145px;
	}
	&__info {
		min-width: 526px;
	}
	&__title {
		text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
		font-size: 55px;
		line-height: 110.6%;
		font-weight: 700;
	}
	&__p {
		color: rgba(255, 255, 255, 0.65);
		font-weight: 400;
		line-height: 153.8%;
		font-size: 17px;
		margin-top: 20px;
	}
	&__controls {
		display: flex;
		margin-top: 40px;
	}
	&__btn {
		padding: 15px 30px;
		border-radius: 49px;
		font-size: 17px;
	}
}

.portfolio-slider {
	width: 567px;
	position: relative;

	&__container {
		width: 155.5%;
		overflow: hidden;
	}
	&__slides {
		display: flex;
		gap: 100px;
		transition: 0.5s all ease-in-out;
	}
	&__slide {
		border-radius: 6px;
		border: 1px solid rgba(46, 236, 197, 0.5);
		background: rgba(46, 236, 197, 0.05);
		box-shadow: 0px 0px 106px 0px rgba(46, 236, 197, 0.1);
		flex-shrink: 0;
	}
	&__img {
		width: 100%;
		height: 100%;
	}
	&__controls {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__prev-btn {
		margin-left: -30px;
	}
	&__next-btn {
		margin-right: -30px;
	}
}
.slider-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	font-size: 0;
	background: #19201f;
	background-image: linear-gradient(to right bottom, #19201f, #323939);
	border-radius: 50%;
	border: 2px solid #2eecc580;
	outline: 1.5px solid #153630;
	outline-offset: 4px;
	cursor: pointer;
	transition: 0.35s all;
	&:hover {
		box-shadow: 0px 0px 25px 0px rgba(46, 236, 197, 0.4);
	}
	&--disabled {
		&:hover {
			box-shadow: none;
		}
		cursor: auto;
		border: 2px solid #1f5249b1;
		.slider-btn {
			&__prev-arrow {
				border-top: 3px solid #1f5249;
				border-left: 3px solid #1f5249;
			}
			&__next-arrow {
				border-bottom: 3px solid #1f5249;
				border-right: 3px solid #1f5249;
			}
		}
	}
	&__prev-arrow {
		display: block;
		margin-left: 7px;
		width: 15px;
		height: 15px;
		border-top: 3px solid #2c8e7a;
		border-left: 3px solid #2c8e7a;
		transform: rotate(-45deg);
	}
	&__next-arrow {
		display: block;
		margin-right: 7px;
		width: 15px;
		height: 15px;
		border-bottom: 3px solid #2c8e7a;
		border-right: 3px solid #2c8e7a;
		transform: rotate(-45deg);
	}
}

.tariffs {
	padding-bottom: 215px;

	&__title {
		text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
		font-size: 55px;
		font-weight: 700;
		line-height: 110.6%;
		text-align: center;
	}
}

.tariff-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 295px;
	height: 428px;
	border-radius: 36px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: linear-gradient(
		203deg,
		rgba(49, 49, 52, 0.7) 9.28%,
		rgba(44, 44, 45, 0.7) 43.91%,
		rgba(41, 41, 41, 0.7) 87.77%
	);
	padding: 37px 17px 19px 17px;
	&__title {
		margin: 0;
		color: rgba(255, 255, 255, 0.6);
		text-align: center;
		font-size: 26px;
		font-weight: 600;
		line-height: normal;
	}
	&__descr {
		color: rgba(255, 255, 255, 0.3);
		text-align: center;
		font-size: 12px;
		font-weight: 400;
		line-height: 153.8%;
		padding: 0 25px;
		margin-top: 21px;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
	}
	&__price {
		color: rgba(255, 255, 255, 0.6);
		font-size: 17px;
		line-height: 153.8%;
		font-weight: 700;
	}
	&__days {
		color: rgba(255, 255, 255, 0.3);
		font-size: 13px;
	}
	&__btn {
		border-radius: 41px;
		color: rgba(255, 255, 255, 0.6);
		font-size: 14px;
		gap: 6px;
		padding: 14px 23px;
		border: 1.5px solid rgba(46, 236, 197, 0.7);
		background: rgba(46, 236, 197, 0.1);
		box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.1);
	}
	&__arrow {
		width: 8px;
		height: 8px;
		border-right: 1.5px solid rgba(255, 255, 255, 0.6);
		border-bottom: 1.5px solid rgba(255, 255, 255, 0.6);
	}
}

.tariffs-slider {
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
	margin-top: 41px;
	&__container {
		overflow: hidden;
		margin: 0 auto;
	}
	&__slides {
		display: flex;
		align-items: center;
		gap: 32px;
		transition: 0.5s all;
	}
	&__slide {
		width: 295px;
		flex-shrink: 0;
	}
	&__slide--active {
		width: 370px;
		height: 570px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		background: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);
		padding: 44px 23px 23px 23px;
		.tariff-card__title {
			font-size: 32px;
			color: #fff;
		}
		.tariff-card__descr {
			color: rgba(255, 255, 255, 0.75);
			text-align: center;
			font-size: 17px;
			line-height: 153.8%;
			padding: 0 6px;
			margin-top: 46px;
		}
		.tariff-card__price {
			font-size: 22px;
			color: #fff;
		}
		.tariff-card__days {
			color: rgba(255, 255, 255, 0.4);
			font-size: 17px;
		}
		.tariff-card__btn {
			padding: 17px 26px;
			gap: 12px;
			font-size: 17px;
			color: #fff;
			border: 1.5px solid #2eecc5;
			background: rgba(46, 236, 197, 0.1);
		}
		.tariff-card__arrow {
			width: 10px;
			height: 10px;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
	}
	&__controls {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__prev-btn {
		margin-left: -30px;
	}
	&__next-btn {
		margin-right: -30px;
	}
}

.feedback {
	display: flex;
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: linear-gradient(
		92deg,
		#313134 -11.81%,
		#222224 23.9%,
		#12473c 60.63%,
		#292929 110.44%
	);
	padding-top: 32px;
	padding-bottom: 54px;

	&__title {
		font-size: 50px;
		line-height: 110.6%;
		text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
		font-weight: 700;
	}
	&__img {
		position: absolute;
		top: -30px;
		left: 1200px;
	}
	.container {
		min-width: 1320px;
	}
}

.feedback-form {
	margin-top: 21px;
	display: flex;
	gap: 48px;
	&__col-1 {
		display: flex;
		flex-direction: column;
		gap: 18px;
	}
	&__col-2 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 20px;
	}
	&__label {
		display: block;
		color: rgba(255, 255, 255, 0.7);
		font-size: 17px;
		font-weight: 400;
		line-height: 153.8%;
		margin-bottom: 8px;
	}
	&__input {
		display: block;
		width: 437px;
		height: 52px;
		border-radius: 41px;
		border: 1.5px solid rgba(255, 255, 255, 0.2);
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
		color: #fff;
		font-size: 24px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__btn {
		border-radius: 41px;
		padding: 15px 43px;
		align-self: start;
		margin-top: auto;
	}
}
.contacts {
	padding-top: 76px;
	&__title {
		color: #fff;
		font-size: 96px;
		margin: 0;
		text-align: center;
		letter-spacing: 0.02em;
		line-height: 100%;
	}
	&__socials {
		margin-top: 80px;
		display: flex;
		gap: 56px;
		justify-content: center;
		align-items: center;
	}
}

.socials {
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background: #fff;
		border-radius: 50%;
		width: 90px;
		height: 90px;
		outline: 1px solid rgba(255, 255, 255, 0.1);
		outline-offset: 10px;
		transition: 0.4s all;
		&:hover {
			background: radial-gradient(
				77.86% 77.86% at 49.29% 50.71%,
				rgb(46, 236, 197) 0%,
				rgb(0, 100, 79) 100%
			);
			transform: scale(1.55);
			outline: 1px solid rgba(46, 236, 197, 0.1);
			margin-left: 60px;
			margin-right: 60px;
		}
	}
	&__name {
		font-size: 0;
	}
	&__icon {
		width: 50px;
		height: 37px;
	}
	&__fb {
		.socials__icon {
			background: url("../icons/facebook.svg") no-repeat center;
		}
	}
	&__be {
		.socials__icon {
			background: url("../icons/behance.svg") no-repeat center;
		}
	}
	&__tg {
		.socials__icon {
			background: url("../icons/telegram.svg") no-repeat center;
		}
	}
	&__vk {
		.socials__icon {
			background: url("../icons/vk.svg") no-repeat center;
		}
	}
	&__gl {
		.socials__icon {
			background: url("../icons/gmail.svg") no-repeat center;
		}
	}
}
.footer {
	padding-top: 82px;
	padding-bottom: 40px;
	&__copyright {
		font-size: 15px;
		font-weight: 400;
		text-align: center;
		color: rgba(255, 255, 255, 0.7);
	}
	&__link {
		display: block;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
		color: rgba(255, 255, 255, 0.4);
		transition: 0.35s all;
		&:hover {
			color: rgba(255, 255, 255, 0.8);
		}
	}
}

.navigator {
	padding-left: 127px;

	&__line {
		width: 2.5px;
		height: 100%;
		position: fixed;
		z-index: 1000;
		background-image: linear-gradient(
			180deg,
			rgba(46, 236, 197, 0) 0%,
			rgba(46, 236, 197, 0.5) 44%,
			rgba(46, 236, 197, 0.07) 92%,
			rgba(255, 177.44, 177.44, 0) 100%
		);
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__item {
		display: flex;
		gap: 10px;

		margin-left: -48px;
	}
	&__item--active {
		margin-top: 170px;
		margin-bottom: 480px;
		.navigator__tumbler {
			background: linear-gradient(180deg, #b5feef 0%, #22a98d 100%);
			&::before {
				border-color: #29ad91;
			}
		}
		.navigator__title {
			background: linear-gradient(91deg, #b5feef 0%, #2eecc5 100%);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&__item--hidden {
		display: none;
	}
	&__title {
		background: linear-gradient(
			91deg,
			rgba(181, 254, 239, 0.5) 0%,
			rgba(46, 236, 197, 0.5) 100%
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 25px;
		font-weight: 900;
	}
	&__tumbler {
		position: relative;
		background: linear-gradient(180deg, #5d7c76 0%, #0a3028 100%);
		border-radius: 9px;
		width: 18px;
		height: 37px;
		&::before {
			position: absolute;
			top: -5px;
			left: -5px;
			content: "";
			width: 26px;
			height: 45px;
			border-radius: 20px;
			border: 1.5px solid #597872;
		}
	}
}
